<div class="p-5 ">

  <div class="container  p-5  formclass w-50">
      <form class="" >


          <div class="form-outline mb-4 text-center">
         <img src="assets/img/Screenshot (65) (1).png" class="w-75 "  alt="">
          </div>
     
<div class="container p-5 text-center ">
  <form #ngform  (ngSubmit)="otpsubmit()" [formGroup]="otpform">
  
      <div class="m-0  ">
          <input type="" formControlName="otp" placeholder="Otp(one Time Password)" id="" class="form-control text-center">
    
      </div>
  
          
          <!-- Password input -->
          <div class="form-outline mb-4 p-3 text-center">
           <button type="submit" class="btn btn-success w-100 "> submit</button>
          </div>
       
          <div class="text-center">
          
         
          </div>
        </form>
  </div>