
<div class="p-5 ">

  <div class="container  p-5  formclass w-50">
      <form class=""  [formGroup]="loginform"  (ngSubmit)="getuserlogindata()" >

          <div class="form-outline mb-4 text-center">
         <img src="assets/img/Screenshot (68).png" class="w-75 "  alt="">
          </div>

  
 
         
        
          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label fw-bold" for="form2Example1">Email address</label>
            <input type="email" id="form2Example1" class="form-control" formControlName="Email" />
          </div>
    
        
          
          <!-- Password input -->
          <div class="form-outline mb-4">
              <label class="form-label fw-bold" for="form2Example2">Password</label>
              <input type= " current-password" id="form2Example2" class="form-control"  formControlName="Password" />
          </div>
          
          <!-- Password input -->
          <div class="form-outline mb-4">
           <button type="submit" class="btn btn-success w-100"  > submit</button>
          </div>
          <!-- 2 column grid layout for inline styling -->
          <div class="row mb-4">
            <div class="col d-flex justify-content-center">
   
            </div>
        
       
          </div>
        
 
          <div class="text-center">
            <!-- <p>Not a member? <a href="#!" class="register">Register</a></p> -->
             <a href="">Forget Your Password?</a>


            <p class="p-3">Don't have an account?  <a routerLink="" >Sign up</a></p>
         
          </div>
        </form>
  </div>
  
    
  </div>